In [1]:
import pandas as pd

In [2]:
df = pd.read_stata("/Users/kamilakolpashnikova/OneDrive - Nexus365/Data files/ELSA/UKDA-5050-stata/stata/ELSA3to8.dta")

/Users/kamilakolpashnikova/opt/anaconda3/lib/python3.8/site-packages/pandas/io/stata.py:1417: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

In [3]:
df.head()

,idauniq,Female,EduInYears,H1,H2,H3,Health,smoked,drinked,Age,...,Hip1,Hip2,Hip3,Hip,Morb,Multimorb,AG,HouseholdYear,Region,BirthYear
0,100001,0,0.0,3.0,3.0,4.0,3.333333,NaN,NaN,54,...,-1,0,0,0.0,0.0,0.0,1.0,15553.0,H,1951.0
1,100007,0,11.0,1.0,4.0,4.0,3.000000,NaN,1.0,58,...,-1,0,0,0.0,3.0,1.0,1.0,14930.0,F,1948.0
2,100009,0,0.0,4.0,4.0,4.0,4.000000,1.0,0.0,66,...,0,0,0,0.0,0.0,0.0,2.0,13922.0,K,1940.0
3,100012,0,12.0,2.0,3.0,4.0,3.000000,NaN,1.0,58,...,-1,0,0,0.0,0.0,0.0,1.0,13218.0,D,1947.0
4,100016,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,...,-1,0,0,0.0,0.0,0.0,1.0,14068.0,G,-8.0

In [4]:
df.dtypes

idauniq             int32
Female               int8
EduInYears        float64
H1                float32
H2                float32
H3                float32
Health            float32
smoked            float64
drinked           float64
Age                  int8
Married              int8
Year              float32
ID                float32
Weight            float32
HBP1                 int8
HBP2              float64
HBP               float32
Diabetes1            int8
Diabetes2            int8
Diabetes          float32
Arthritis1           int8
Arthritis2        float64
Arthritis         float32
Osteo1               int8
Osteo2            float64
Osteo             float32
HeartAttack1         int8
HeartAttack2      float64
HeartAttack       float32
Stroke1              int8
Stroke2           float64
Stroke            float32
Cancer1              int8
Cancer2           float64
Cancer            float32
Lung1                int8
Lung2             float64
Lung              float32
Parkinson1           int8
Parkinson2        float64
Parkinson         float32
Dementia1            int8
Dementia2         float64
Dementia3            int8
Dementia4         float64
Dementia          float32
Psychological1       int8
Psychological2    float64
Psychological     float32
Hip1                 int8
Hip2                 int8
Hip3                 int8
Hip               float32
Morb              float32
Multimorb         float32
AG                float32
HouseholdYear     float32
Region             object
BirthYear         float32
dtype: object

In [5]:
df.BirthYear.describe()

count    59807.000000
mean      1913.153564
std        245.722961
min         -8.000000
25%       1937.000000
50%       1946.000000
75%       1952.000000
max       1987.000000
Name: BirthYear, dtype: float64

In [6]:
summarize?

Object `summarize` not found.

In [7]:
def summarize(vars, df):
    '''
    this function prints out descriptive statistics in the similar way that Stata function sum does.
    Args:
    pandas column of a df
    Output: None (print out)
    '''
    num = max([len(i) for i in vars])
    if num < 13:
        num = 13
    
    print("{} |        Obs        Mean    Std. Dev.       Min        Max ".format('Variable'.rjust(num)))
    print("{}-+----------------------------------------------------------".format('-'*num))
    
    for var in vars:
        temp = df[var].describe()
        print("{} |{}{}{}{}{}".format(var.rjust(num), round(temp['count'], 1).astype(str).rjust(11), \
                                     round(temp['mean'], 3).astype(str).rjust(12), \
                                     round(temp['std'], 3).astype(str).rjust(13), \
                                     round(temp['min'], 3).astype(str).rjust(11), \
                                     round(temp['max'], 3).astype(str).rjust(11) \
                                                           ))

In [8]:
summarize(["BirthYear", "Year", "Married", "Health"], df)

     Variable |        Obs        Mean    Std. Dev.       Min        Max
--------------+----------------------------------------------------------
    BirthYear |    59807.0    1913.154      245.723       -8.0     1987.0
         Year |    59807.0    2011.708        3.404     2006.0     2017.0
      Married |    59807.0       0.717        0.451        0.0        1.0
       Health |    59767.0       2.856        0.853        1.0        4.0

In [9]:
tab?

Object `tab` not found.

In [10]:
def tab(var1, var2=None):
    '''
    This is a function that gives an output similar to the tab function in Stata.
    ARGs:
    it takes columns of a dataframe as arguments.
    '''
    
    if var2 is None:
        print("{}|      Freq.     Percent        Cum.".format(var1.name.rjust(12)))
        print("------------+-----------------------------------")
        temp = pd.DataFrame(var1.value_counts())
        temp.reset_index(inplace=True)
        temp = temp.sort_values(by="index").reset_index(drop=True)
        tots = temp[temp.columns[1]].sum()
        temp['percent']=100*(temp[temp.columns[1]]/tots)
        temp['cum_percent'] = 100*(temp[temp.columns[1]].cumsum()/tots)
        for y in range(0, len(temp)):
            print("{}|{}{}{}".format(round(temp.loc[y, temp.columns[0]], 3).astype(str).rjust(12), \
                                    round(temp.loc[y, temp.columns[1]], 3).astype(str).rjust(11), \
                                    round(temp.loc[y, 'percent'], 3).astype(str).rjust(12), \
                                    round(temp.loc[y, 'cum_percent'], 3).astype(str).rjust(12)))
        print("------------+-----------------------------------")
        print("      Total |{}      100.00".format(tots.astype(str).rjust(11)))
    else:
        assert len(var1)==len(var2), "Columns are not of the same length, check if they belong to the same dataframe"
        dict1 = {var1.name: var1, var2.name: var2}
        df1 = pd.DataFrame(dict1, columns=[var1.name, var2.name])
        number = len(var2.value_counts())
        temp1= pd.DataFrame(var1.value_counts())
        temp1.reset_index(inplace=True)
        temp1 = temp1.sort_values(by="index").reset_index(drop=True)
        temp2= pd.DataFrame(var2.value_counts())        
        temp2.reset_index(inplace=True)
        temp2 = temp2.sort_values(by="index").reset_index(drop=True)
        print("             |{}".format(var2.name.rjust(round(len(var2.value_counts())*12/2))))
        string1 = str('{} |'.format(var1.name.rjust(12)))
        for i in range(number):
            string1+='{}'.format(temp2.loc[i, 'index'].astype(str).rjust(12))
        string1+= str('|     Total')
        print(string1)
        print('-------------+------------------------+----------')
        for j in range(len(temp1)):
            string2 = str('{} |'.format(round(temp1.loc[j, 'index'], 3).astype(str).rjust(12)))
            num2 = 0
            for i in range(number):
                num1 = df1.loc[(df1[var1.name]==temp1.loc[j, 'index']) \
                                             & (df1[var2.name]==temp2.loc[i, 'index']), \
                                             var1.name].count()
                string2+='{}'.format(num1.astype(str).rjust(12))
                num2 +=num1
            string2 += '|{}'.format(num2.astype(str).rjust(10))
            print(string2)
        print('-------------+------------------------+----------')
        string3 = str('       Total |')
        for i in range(number):
            string3 +='{}'.format(temp2.loc[i, var2.name].astype(str).rjust(12))
        string3 +='|{}'.format(var2.count().astype(str).rjust(10))
        print(string3)

In [11]:
tab(df["Health"], df["Female"])

             |      Female
      Health |           0           1|     Total
-------------+------------------------+----------
         1.0 |        2052        2597|      4649
       1.333 |         404         279|       683
       1.667 |         909        1038|      1947
         2.0 |        2196        3742|      5938
       2.333 |        1752        1896|      3648
       2.667 |        2466        3223|      5689
         3.0 |        7074       10607|     17681
       3.333 |        2500        2434|      4934
       3.667 |        2160        2491|      4651
         4.0 |        5045        4902|      9947
-------------+------------------------+----------
       Total |       26581       33226|     59807

In [12]:
df.loc[df["Female"]==1, "Year"].count()

33226

In [13]:
tab(df['Health'])

      Health|      Freq.     Percent        Cum.
------------+-----------------------------------
         1.0|       4649       7.779       7.779
       1.333|        683       1.143       8.921
       1.667|       1947       3.258      12.179
         2.0|       5938       9.935      22.114
       2.333|       3648       6.104      28.218
       2.667|       5689       9.519      37.737
         3.0|      17681      29.583       67.32
       3.333|       4934       8.255      75.575
       3.667|       4651       7.782      83.357
         4.0|       9947      16.643       100.0
------------+-----------------------------------
      Total |      59767      100.00